/* STYLING 1 STARTS */

.t_heading{
    border: 1px solid transparent;
    margin-top: 20px;
    text-align: center;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
}
.t_slider{
    border: 1px solid transparent;
    width: 96vw;
    /* height: 70vh; */
    margin: auto;
}

 /* STYLING 1 ENDS */
/* ------------------------------------------------------- */


#slider-text{
    padding-top: 40px;
    display: block;
  }
  #slider-text .col-md-6{
    overflow: hidden;
  }
  
  #slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
  }
  #slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
    }
  .item button{
   width: 160px;
   margin-top:40px ;
   background-color: black;
   color: white;
  }
  #quick_buy1{
    width: 160px;
   margin-top:66px ;
   background-color: black;
   color: white;
  }
  #quick_buy2{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy3{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy4{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy5{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy6{
    width: 160px;
   margin-top:40px ;
   background-color: black;
   color: white;
  }
  #itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
  }
  #itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
  }
  #itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
  }
  .badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
  }
  #slider-control img{
    padding-top: 60%;
    margin: 0 auto;
  }
 /* .container-fluid{
    height: 70vh;
 }
 .row{
    height: 90vh;
 } */

  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
  }
  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3,
  .carousel-showmanymoveone .cloneditem-4,
  .carousel-showmanymoveone .cloneditem-5 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  

/* ------------------------------------------------------- */


/* STYLING 2 STARTS */


.t_h_para{
    border: 1px solid transparent;
    margin: 20px;
    text-align: center;
  
}
.t_h_para p{
    font-size: small;
}
.t_cosmetics{
    border: 1px solid transparent;
    width: 96vw;
    height: 71vh;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.t_cosmetics_1{
    border: 1px solid transparent;
    width: 46vw;
    height: 71vh;
    display: flex;
    justify-content: center;
}
.t_cosmetics_1 img{
    width: 90%;
    height: 71vh;
    margin: auto;
}
.t_cosmetics_2{
    border: 1px solid transparent;
    width: 46vw;
    height: 71vh;
}
a{
    text-decoration: none;
    color: black;
}

/* STYLING 2 ENDS */


/* STYLING 3 STARTS */


.t_SBC_head{
    /* border: 1px solid greenyellow; */
    margin: 50px;
    text-align: center;
}
.t_SBC_btn{
    /* border:1px solid orangered; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
  
}
.t_SBC_btn1{
   margin: auto;
  
}
.t_SBC_btn1 button{
   padding: 10px;
   border: 1.5px solid black;
   width: 200px;
   background-color: white;
   cursor: pointer;
}
.t_SBC_btn1 button:hover{
    background-color: #CCCC;
}
.t_shopping_div{
    /* border:1px solid orange; */
    display:flex;
    height: 58vh;
    width: 85vw;
    margin: auto;
     margin-top: 30px;
    /*margin-left: auto; */
    justify-content: space-evenly;

}
.t_shopping{
    /* border:1px solid rgb(0, 242, 255); */
    width: 30%;
    cursor: pointer;
}
.t_shopping img{
    width: 100%;
}
.t_shopping h4{
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    color: black;
}
.t_shopping p{
    font-size: small;
    text-align: center;
    margin-top: 10px;
    color: black;
}

/* STYLING 3 ENDS */


/* STYLING 4 STARTS */


.t_img{
    text-align: center;
}
.t_F_B{
    text-align: center;
}
.t_F_B1{
    /* border:1px solid orange; */
    display:flex;
    height: 40vh;
    width: 85vw;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.t_brands{
    /* border:1px solid rgb(0, 242, 255); */
    width: 15%;
    cursor: pointer;
}
.t_brands img{
    width: 100%;
}

/* STYLING 4 ENDS */

/* STYLING 5 STARTS */


.t_video{
    /* border:1px solid green; */
    display:block;
    height: 90vh;
    width: 85vw;
    margin: auto;
}

/* STYLING 5 ENDS */

/* STYLING 6 STARTS */


.t_hardcode{
    /* border: 1px solid purple; */
    text-align: center;
}
.t_hardcode_1{
    /* border: 1px solid purple; */
    text-align: center;
    font-size: small;
    width: 85vw;
    margin: auto;
}
.t_lodge{
    /* border: 1px solid chocolate; */
    width: 85vw;
    margin: auto;
    margin-top: 40px;
}
.t_lodge img{
    width: 100%;
    cursor: pointer;

}

/* STYLING 6 ENDS */


/* STYLING 7 STARTS */

.t_blog1{
    text-align: center;
}
.t_blog_slider{
     /* border:1px solid orange; */
     display:flex;
     /* height: 58vh; */
     width: 85vw;
     margin: auto;
      margin-top: 30px;
}

/* STYLING 7 ENDS */

 /* ------------------------------------------------------ */


 .container4 {
    width: 90%;
    margin: 10px auto;
  }
  
  .carsoul {
    border: 1px solid #000;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.3s;
  }
  
  .slider section {
    flex-basis: 100%;
  }
  
  .controls .arrow-left {
    position: absolute;
    top: 50%;
  }
  
  .controls .arrow-right {
    position: absolute;
    top: 50%;
  }
  
  .arrow-left {
    left: 10px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .arrow-right {
    right: 10px;
    cursor: pointer;
  }
  
  ul {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  }
  
  li {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
  }
  
  .selected {
    background-color: transparent;
  }

  #slider_img_t{
    height: 430px;
    width: 800px;
    margin: auto;
  }
  #slider_text_t{
    font-weight: bold;
    text-align: center;
  }
  #anchor_bhai{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/* ------------------------------------------------------ */

