/* NAVBAR STYLING STARTS */

#tnavbar{
    /* display: flex; */
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 210;
    background-color: white;
   
  }
  .tnavbar_items a{
    font-size: 14px;
    text-decoration: none;
    color: black;
  }
  .tnavbar_items a:hover{
    font-size: 14px;
    text-decoration: none;
    color: black;
  }
  .tnavbar_items {
    display: flex;
   
    /* border: 1px solid red; */
  }
  .tnavbar ul{ 
      list-style: none; 
      /* width: 80%; */
  }
   .tmega_menu a{
      text-decoration: none;
      color: black;
    }
  .tnavbar_items li{
    padding: 10px;
   }
  ul.tnavbar_items li:hover{
    background-color: #F2F2F2;
  } 
  .tmega_menu{
    gap: 20px;
    width: 100%;
    display: none;
    position: absolute;
    left: 50px;
    /* top: 75px;  */
    padding: 30px;
    visibility: hidden;
    display: flex;
    background-color: white;
    z-index: 210;
  }
  .contHainer{
    border-top: 1px solid grey;
  
  }
  .t_for_border{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  .tnavbar_item:hover .tmega_menu{
    position: absolute;
    opacity: 1;
    visibility: visible;
  }
  .tnavbar{
      position: absolute;
      /* z-index: 1;
      left: 10px; */
      /* font-size: 15px; */
  } 
  ul.tnavbar_items{
    display: inline-block;
  }
  ul.tnavbar_items li{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }
  ul.tnavbar_items>li:nth-child(1):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(2):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(3):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(4):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(5):hover .tmega_menu{
    display: flex;
    /* transition-duration: 3000ms;
    transition-timing-function: ease-in;    */
  }
  ul.tnavbar_items>li:nth-child(6):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(7):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(8):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(9):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(10):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(11):hover .tmega_menu{
    display: flex;
  }
  ul.tnavbar_items>li:nth-child(12):hover .tmega_menu{
    display: flex; 
  }
  ul.tnavbar_items>li:nth-child(13):hover .tmega_menu{
    display: flex; 
  }
  ul.tnavbar_items>li:nth-child(14):hover .tmega_menu{
    display: flex; 
  }
  ul.tnavbar_items>li:last-of-type{
      margin-left: 15px;
      /* border: none;  */
   }
  #t_brand{
    position: absolute;
    left: 50px;
  }
  #t_SS{
    left: 120px;
  }
  #t_BB{
    left: 50px;
  }
  #t_SC{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  #t_Mup{
    left: 100px;
  }
  #t_HC{
    left: 350px;
  }
  #t_B_B{
    left: 300px;
  }
  #t_T_D{
    left: 600px;
  }
  #t_G_S{
    left: 810px;
  }
  #t_offer{
    left: 750px;
  }
  #t_new{
     left: 1050px;
  }
  #t_skin{
     left: 200px;
  }


/* NAVBAR STYLING ENDS */

/* -WIDGET ||  STRIPBANNER ||  RESPONSIVE SLIDER STYLING start */

body{
  margin:  40px 0;
}

/* ----------WIDGET STYLING STARTS----------- */

#t_big_box{
  position: absolute;
  top: 40px;
  z-index: 200;
  display: flex;
  /* border: 1px solid red; */
  background-color: #F2F2F2;
  width: 100vw;
  height: 50px;
  /* margin: 50px; */
}
.delivery{
width: 30px;
height: 20px;
margin: auto;
}
.s_box1{
  /* border: 1px solid teal; */
  width: 24%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_box2{
  /* border: 1px solid teal; */
  width: 39%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_box3{
  /* border: 1px solid teal; */
  width: 22%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_box4{
  /* border: 1px solid teal; */
  width: 17%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_box5{
  /* border: 1px solid teal; */
  width: 19%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  display: flex;
  text-decoration: none;
  color: black;
  gap: 5px;
}
p{
  font-size: 12px;
 
}
.to_place_in_middle{
  display: flex;
  gap: 35px;
  margin: auto;
}
/* ----------WIDGET STYLING ENDS----------- */


/* ----------STRIPBANNER STYLING STARTS----------- */

.stripBanner_text{
  font-family: "lato regular",Helvetica,Arial,sans-serif;
  margin-bottom: 10px;
}

.stripBanner{
  position: absolute;
  top: 85px;
  z-index: 200;
  display: flex;
  /* border: 1px solid red; */
  background-color: #CCCCCC;
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  -webkit-transition : background-color 2s ease-out;
 /* -moz-transition: background-color 2s ease-out; */
/*-o-transition: background-color 2s ease-out; */
  transition: background-color 2s ease-out;
}
.stripBanner:hover{
  cursor: pointer;
  background-color: #F2F2F2;
  transition:.6s ease;
  /* transition:.6s ease-out; */
}

/* ----------STRIPBANNER STYLING ENDS----------- */

/* ----------SLIDER STYLING STARTS----------- */

.t_container{
  /* border: 1px solid red; */
  width: 100vw;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

}
.swiper{
  position: relative;
  /* width: 100%;
  height: 75vh; */
}
.swiper-slide{
  position: relative;
}

.swiper-slide>img{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 80vh;

}
.swiper-slide h1{
  position: absolute;
  cursor: pointer;
  top: 150px;
  right: 150px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.swiper-slide p{
  position: absolute;
  cursor: pointer;
  top: 210px;
  right: 130px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.swiper-slide button{
  position: absolute;
  cursor: pointer;
  top: 250px;
  right: 560px;
  padding: 8px;
  color: white;
  background-color: black;
}
.swiper-slide button:hover{
  background-color: grey;
  
  }
.swiper-wrapper{
  padding-bottom: 30px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
 color: white;
  min-width: 50px;
 min-height: 50px; 
 
}
.swiper .swiper-pagination-bullet-active{
  background: black;
}
.swiper-pagination{
  position: absolute;
  /* bottom: 100px; */
  /* margin: -50px; */
}
/* ----------SLIDER STYLING ENDS----------- */








/* -WIDGET ||  STRIPBANNER ||  RESPONSIVE SLIDER STYLING end */


/* STYLING 1 STARTS */

.t_heading{
    border: 1px solid transparent;
    margin-top: 20px;
    text-align: center;
}
.t_heading h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:lighter;
}
.t_slider{
    border: 1px solid transparent;
    width: 96vw;
    /* height: 70vh; */
    margin: auto;
}

 /* STYLING 1 ENDS */
/* ------------------------------------------------------- */

  .item button{
   width: 160px;
   margin-top:40px ;
   background-color: black;
   color: white;
  }
  #quick_buy1{
    width: 160px;
   margin-top:66px ;
   background-color: black;
   color: white;
  }
  #quick_buy2{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy3{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy4{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy5{
    width: 160px;
   margin-top:52px ;
   background-color: black;
   color: white;
  }
  #quick_buy6{
    width: 160px;
   margin-top:40px ;
   background-color: black;
   color: white;
  }
  #itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
  }
  #itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
  }
  #itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
  }
  .badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
  }
  #slider-control img{
    padding-top: 60%;
    margin: 0 auto;
  }
 /* .container-fluid{
    height: 70vh;
 }
 .row{
    height: 90vh;
 } */

  @media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
  }
  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3,
  .carousel-showmanymoveone .cloneditem-4,
  .carousel-showmanymoveone .cloneditem-5 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.666%, 0, 0);
      transform: translate3d(16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.666%, 0, 0);
      transform: translate3d(-16.666%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  

/* ------------------------------------------------------- */


/* STYLING 2 STARTS */


.t_h_para{
    border: 1px solid transparent;
    margin: 20px;
    text-align: center;
  
}
.t_h_para p{
    font-size: small;
}
.t_cosmetics{
    border: 1px solid transparent;
    width: 96vw;
    height: 71vh;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.t_cosmetics_1{
    border: 1px solid transparent;
    width: 46vw;
    height: 71vh;
    display: flex;
    justify-content: center;
}
.t_cosmetics_1 img{
    width: 90%;
    height: 71vh;
    margin: auto;
}
.t_cosmetics_2{
    border: 1px solid transparent;
    width: 46vw;
    height: 71vh;
}
a{
    text-decoration: none;
    color: black;
}

/* STYLING 2 ENDS */


/* STYLING 3 STARTS */


.t_SBC_head{
    /* border: 1px solid greenyellow; */
    margin: 50px;
    text-align: center;
}
.t_SBC_btn{
    /* border:1px solid orangered; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
  
}
.t_SBC_btn1{
   margin: auto;
  
}
.t_SBC_btn1 button{
   padding: 10px;
   border: 1.5px solid black;
   width: 200px;
   background-color: white;
   cursor: pointer;
}
.t_SBC_btn1 button:hover{
    background-color: #CCCC;
}
.t_shopping_div{
    /* border:1px solid orange; */
    display:flex;
    height: 58vh;
    width: 85vw;
    margin: auto;
     margin-top: 30px;
    /*margin-left: auto; */
    justify-content: space-evenly;

}
.t_shopping{
    /* border:1px solid rgb(0, 242, 255); */
    width: 30%;
    cursor: pointer;
}
.t_shopping img{
    width: 100%;
}
.t_shopping h4{
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    color: black;
}
.t_shopping p{
    font-size: small;
    text-align: center;
    margin-top: 10px;
    color: black;
}

/* STYLING 3 ENDS */


/* STYLING 4 STARTS */


.t_img{
    text-align: center;
}
.t_F_B{
    text-align: center;
}
.t_F_B1{
    /* border:1px solid orange; */
    display:flex;
    height: 40vh;
    width: 85vw;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.t_brands{
    /* border:1px solid rgb(0, 242, 255); */
    width: 15%;
    cursor: pointer;
}
.t_brands img{
    width: 100%;
}

/* STYLING 4 ENDS */

/* STYLING 5 STARTS */


.t_video{
    /* border:1px solid green; */
    display:block;
    height: 90vh;
    width: 85vw;
    margin: auto;
}

/* STYLING 5 ENDS */

/* STYLING 6 STARTS */


.t_hardcode{
    /* border: 1px solid purple; */
    text-align: center;
}
.t_hardcode_1{
    /* border: 1px solid purple; */
    text-align: center;
    font-size: small;
    width: 85vw;
    margin: auto;
}
.t_lodge{
    /* border: 1px solid chocolate; */
    width: 85vw;
    margin: auto;
    margin-top: 40px;
}
.t_lodge img{
    width: 100%;
    cursor: pointer;

}

/* STYLING 6 ENDS */


/* STYLING 7 STARTS */

.t_blog1{
    text-align: center;
}
.t_blog_slider{
     /* border:1px solid orange; */
     display:flex;
     /* height: 58vh; */
     width: 85vw;
     margin: auto;
      margin-top: 30px;
}

/* STYLING 7 ENDS */

 /* ------------------------------------------------------ */


 .container4 {
    width: 90%;
    margin: 10px auto;
  }
  
  .carsoul {
    border: 1px solid #000;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .tslider {
    height: 100%;
    display: flex;
    width: 500%;
    transition: all 0.3s;
  }
  
  .tslider section {
    flex-basis: 100%;
  }
  
  .controls .arrow-left {
    position: absolute;
    top: 50%;
  }
  
  .controls .arrow-right {
    position: absolute;
    top: 50%;
  }
  
  .arrow-left {
    left: 10px;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .arrow-right {
    right: 10px;
    cursor: pointer;
  }
  
  #t_UL {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
  }
  
  #t_UL li {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 50%;
    margin: 10px;
    background-color: #333;
    cursor: pointer;
  }
  
  .tselected {
    background-color: transparent;
  }

  #slider_img_t{
    height: 430px;
    width: 800px;
    margin: auto;
  }
  #slider_text_t{
    font-weight: bold;
    text-align: center;
  }
  #anchor_bhai{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/* ------------------------------------------------------ */

