#main{
    width: 80%;
}
#corner{
    height : 800px;
    width: 300px;
    padding-left: 4%;

}
#content{
    display: flex;
    gap: 15px;
}

#product>div{
   text-align: center;
   margin-bottom: 25px;
}
#product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

img{
    width: 80%;
    height: 65%;
    border: 2px solid gray;
    border-radius: 20px;
}

button{
    background-color: black;
    color: white;
    width: 90%;
    font-size: 15px;
    height: 35px;
    text-align: center;
}
#content2{
    display: flex;
    gap: 20px;
}

#sort{
    width: 250px;
    border: 1px solid grey;
}
#leftsort{
    display: flex;
    justify-content :left;
    margin-top: 10px;

}
#firstsort{
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2%;
}
#leftsort>input{
    height: 20px;
    width: 20px;
}
#leftsort>div{
    font-size: 20px;
}




/* navbar */


#uperDiv {
    width: 100%;
    height: 31.91px;
    /* border: 1px solid red; */
    background-color: #f2f2f2;
    margin-top: -8px;
    margin-left: -10px;
}

#mainNavDiv {
    width: 1420.7px;
    height: 144.94px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#logoDiv {
    width: 262.62px;
    height: 104.95px;
    /* border: 1px solid red; */
    margin-left: 25px;
    
}



#searchDiv {
    width: 807.41px;
    height: 104.95px;
    /* border: 1px solid red; */
}

#accountDiv {
    width: 159.99px;
    height: 104.95px;
    /* border: 1px solid red; */
}

#cardDiv {
    width: 129.99px;
    height: 104.95px;
    /* border: 1px solid red; */
}
form.nosubmit {
    border: none;
    padding: 35px 170px;
    
}

input.nosubmit {
    width: 439.99px;
    height: 39.99px;
    border: 1px solid #555;
    display: block;
    padding: 10px 4px 9px 15px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 410px center;
    font-size: 14px;
   
    }
    p{
        padding-top:29px; 
        color:#373737; 
        font-family: sans-serif;
    }
    
    .itemCount{
       
        color: #FFFFFF;
        font: 11px "lato regular",helvetica,Arial;
        border-bottom: 0px;
       background-color: #000000;     
       font-family: sans-serif;   
       
    }
    /* h3{
        margin-top: -35px; 
        margin-left: 17px; 
        background-color: #000000;
        color: #FFFFFF;
         border-radius: 20px; width: 18px; 
        text-align: center;
    } */
    #nameNav
    {
       width: 1368px;
        height: 21.99px;
        margin-left: 23px;
        display: grid;
        grid-template-columns: repeat(14,1fr);
        /* border: 1px solid teal; */
       
    }
   
    #nameNav>div{
       text-align: center;
    }
    #responsSlider
    {
        width: 100%;
        height: 55.198px;
        margin-left: -10px;
        display: flex;
        justify-content: center;
        background-color:#f2f2f2;
      
    }
    #responsSlider>div
    {
        
         height: 55.98;
     }
    #responsSlider>:nth-child(1)
    {
       width: 247.59px;
    }
    #responsSlider>:nth-child(2)
    {
        width: 398.69px;
    }
    #responsSlider>:nth-child(3)
    {
        width: 259.12px;
    }
    #responsSlider>:nth-child(4)
    {
        width: 203.21px;
    }
    .responsiveUsp_icon{
       text-align: justify;
       padding-top: 8px;
       
    }
    .responsiveUsp_icon:hover{
        background-color: red;
    }
    #EarnDiv
    {
        width: 100%;
        height: 55.198px;
        margin:auto;
        display: flex;
        justify-content: center;
        background-color:#cccccc;
        text-align: center;
        font-size: 18px;
       }
       #earnBtag
       {
            margin: auto;
       }



       /* footer............................................................................................................ */

       #container{
        display: flex;
        height: 400px;
        width: 100%;
       margin-top: 2%;
        /* border: 1px solid black; */
    }
    .box1{
        
        height: 500px;
        width: 40%;
        margin-left: 5%;
        
    }
    
    #submit{
        padding: 1%;
        background-color: black;
        color: white;
        width: 180px;
        height: 40px;
        margin-bottom: 50px;
        margin-left: 0%;
    }
    /* p{
        margin: 4%;
        color: black;
    } */
    /* .box1>div{
        border: 1px solid greenyellow;
        height: 300px;
        width: 0%;
        margin-top: 26%;
    } */
    .box2{
        /* border: 1px solid blue; */
        /* display: flex; */
        height: 50px;
        width:  50%;
      /* margin-top: 1%; */
    }
    .box21{
        display: grid;
        grid-template-columns: repeat(5,1fr);
       margin-left: 15px;
       margin-top: 20px;
       width: 35%;
          
    }
    .box21>div{
        
        /* border: 2px solid red; */
        border-radius: 50%;
        height: 30px;
        width: 60%;
        /* margin-bottom:10% ; */
        font-size: 25px;
        background-color: darkgrey;
        text-align: center;
       
       /* margin-top: 7%; */
    }
    .box22{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* border: 2px solid teal; */
        height: 330px;
        margin-top: 40px;
    }
    .box22>div>hr{
        /* border: 2px solid brown; */
        width: 60%;
        margin-right: 90px;
    }
    .box22>div>a>p{
        margin: 9%;
        
        color: black;
        
    }
    a{
        text-decoration: none;
    }
    .box22>div>p{
      margin-left: 9%;
    }
    #lastcontainer{
        display: flex;
        /* border: 2px solid red; */
        height: 120px;
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    #lastcontainer>div{
        /* border: 2px solid green; */
        width: 50%;
        
    }
    .pay{
      display: grid;
      grid-template-columns: repeat(9,1fr);
      grid-template-rows: repeat(2,100px);
      
    }
    .pay>div{
    /* border: 2px solid black; */
    font-size: 50px;
    margin-top: 30px;
    padding-top: 12%;
    }
    #last{
      display: flex;
      width: 90%;
      margin: auto;
    }
    #accept{
      padding: 9px;
      width: 100px;
    }
    
    