*{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
#main{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 100%;
}
/* *{
    box-sizing: border-box;
} */

/* ------------------box 1-------------------- */
#box1{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}
#box1>p{
    font-size: 23px;
    margin: 0px;
}
#lock_image{
    width: 30px;
    height: 30px;
    /* background-color: black; */
}
.button>p{
    background-color: black;
    color: white;
    max-height: 100%;
}
.button{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background-color: black;
    margin-bottom: 1rem;
}


/* -----------------------box 2------------------------ */
#box2{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 10%;
}
#product_details{
    
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid gray;
    width: 65%;
  
}
.cart_table{
    width: 100%;
}

.th_items{
    width: 50%;
    padding-top: 10px;
    text-align: left;
}
.th_price{
    padding-top: 10px;
    width: 15%;
}
.th_quantity{
    padding-top: 10px;
    width: 15%;
}
.th_subtotal{
    padding-top: 10px;
    width: 15%;
}
.th_remove{
    padding-top: 10px;
    width: 5%;
}
thead tr th{
    border-top: 0.5px solid gray;
}




/*-------------- t body ------------- */
.image_div>img{
    width: 60px;
    height: 60px;
}
tr{
    /* background-color: aqua; */
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
tr td {
    border-top: 0.5px solid rgb(124, 124, 124);
    /* background-color: aqua; */
}

td{
    text-align: center;
}
.item_div{
    display: flex;
    /* border: 1px solid; */
    height: 90px;
}
.image_div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details_div{
    width: 75%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.td_qty>div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* background-color: red; */
}
#cart_subtotal_text{
    font-weight: normal;
}

/* ------------------- */
#cart_total_row{
    display: flex;
    justify-content: space-between;
}

/* gift div */
#gift_div{
    width: 30%;
    /* border: 1px solid; */
    
   
}
#toggle1,#toggle2,#toggle3{
    border: 1px solid white;
    padding: 3px;
    background-color: whitesmoke;
}
#gift_div>h5,#gift_div>p{
    padding-left: 15px;
}
#first,#second,#third{
    display: flex;
    border: 1px solid;
    margin: 5px;
}

pre{
    font-size: 15px;
}


/* ----------------box 2.1--------------- */
#box2-1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#box2-1>input{
    width: 300px;
    height: 50%;
    border: 2px solid;
}
#box2-1>button{
    width: 100px;
    height: 50%;
    margin-bottom: 0px;
}

/* -----BOX 2.2----- */
#box2-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80px;
}
#box2-2 button{
    height: 50%;
    margin: 0px;
    display: flex;
    align-items: center;
}