<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../style/navbar.css">
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar_items">
            <li class="navbar_item"><a href="">Brands</a>
              <div class = "mega_menu" id="t_brand">
                <ul class="t_for_border">
                  <li><a href="">0-9</a></li>
                  <li><a href="">A</a></li>
                  <li><a href="">B</a></li>
                  <li><a href="">C</a></li>
                  <li><a href="">D</a></li>
                  <li><a href="">E</a></li>
                  <li><a href="">F</a></li>
                  <li><a href="">G</a></li>
                  <li><a href="">H</a></li>
                  <li><a href="">I</a></li>
                  <li><a href="">J</a></li>
                  <li><a href="">K</a></li>
                  <li><a href="">L</a></li>
                  <li><a href="">M</a></li>
                  <li><a href="">N</a></li>
                  <li><a href="">O</a></li>
                  <li><a href="">P</a></li>
                  <li><a href="">Q</a></li>
                  <li><a href="">R</a></li>
                  <li><a href="">S</a></li>
                  <li><a href="">T</a></li>
                  <li><a href="">U</a></li>
                  <li><a href="">V</a></li>
                  <li><a href="">W</a></li>
                  <li><a href="">X</a></li>
                  <li><a href="">Y</a></li>
                  <li><a href="">Z</a></li>
                </ul>
              </div>
            </li>
            <li class="navbar_item"><a href="">Summer Shop</a>
            <div class = "mega_menu" id="t_SS">
                <div class="container">
                  <a href="#"> <h3>View All</h3> </a>
                  <a href="#"><p>SPF</p> </a>
                  <a href="#"><p>Travel Size</p> </a>
                  <a href="#"><p>Skin Care</p> </a>
                  <a href="#"><p>Makeup</p> </a>
                  <a href="#"><p>Hair Care</p> </a>
                </div>
              </div>
            </li>
            <li class="navbar_item"><a href="">Browse By</a>
             <div class="mega_menu" id="t_BB">
              <div class="container">
                <a href="#"><h3>Brands</h3></a>
                <a href="#"><p>skinCeuticals</p></a>
                <a href="#"><p>EltaMD</p></a>
                <a href="#"><p>skinMedika</p></a>
                <a href="#"><p>Obagi</p></a>
                <a href="#"><p>isClinical</p></a>
                <a href="#"><p>EminencOrganicSkinCare</p></a>
                <a href="#"><p>Revision Skincare</p></a>
                <a href="#"><p>Neocutis</p></a>
                <a href="#"><p>Oribe</p></a>
                <a href="#"><p>Sunday Riley</p></a>
                <a href="#"><p>PCA SKIN</p></a>
              </div>
              <div class="container">
                <a href="#"><h3>Concern</h3></a>
                <a href="#"><p>Acne</p></a>
                <a href="#"><p>Acne Scars</p></a>
                <a href="#"><p>Aging Skin</p></a>
                <a href="#"><p>Black Heads</p></a>
                <a href="#"><p>Dark Circles</p></a>
                <a href="#"><p>Dark Spots</p></a>
                <a href="#"><p>Rosacea</p></a>
                <a href="#"><p>Oil Control</p></a>
                <a href="#"><p>Irritated skin</p></a>
                <a href="#"><p>Large Pores</p></a>
                <a href="#"><p>Stretch marks</p></a>
                <a href="#"><p>Wrinkles</p></a>
              </div>
              <div class="container">
                <a href="#"><h3>Skin Type</h3></a>
                <a href="#"><p>Acn-Prone Skin</p></a>
                <a href="#"><p>Sensitive Skin</p></a>
                <a href="#"><p>Dry Skin</p></a>
                <a href="#"><p>Mature Skin</p></a>
                <a href="#"><p>Combination Skin</p></a>
                <a href="#"><p>Oily Skin</p></a>
                <a href="#"><p>Normal Skin</p></a>
              </div>
              <div class="container">
                <a href="#"><h3>Ingredient</h3></a>
                <a href="#"><p>Vit-C</p></a>
                <a href="#"><p>H. Acid</p></a>
                <a href="#"><p>Retinol</p></a>
                <a href="#"><p>Antioxidants</p></a>
                <a href="#"><p>Zinc Oxide</p></a>
                <a href="#"><p>N. Amide</p></a>
                <a href="#"><p>Peptides</p></a>
                <a href="#"><p>Glycolic Acid</p></a>
                <a href="#"><p>Vit-A</p></a>
                <a href="#"><p>Vit-E</p></a>
                <a href="#"><p>Lactic Acid</p></a>
              </div>
              <div class="container">
                <a href="#"><h3>New Featured Brands</h3></a>
                <a href="#"><p>Sulwhasoo</p></a>
                <a href="#"><p>Me</p></a>
                <a href="#"><p>Iluminage</p></a>
                <a href="#"><p>ghd</p></a>
                <a href="#"><p>Medik8</p></a>
                <a href="#"><p>Volition Beauty</p></a>
                <a href="#"><p>Nurse Jamie</p></a>
                <a href="#"><p>Volition Beauty</p></a>
                <a href="#"><p>AMELIORATE</p></a>
                <a href="#"><p>olaplex</p></a>
                <a href="#"><p>ILIA</p></a>
                <a href="#"><p>Revision Skincare</p></a>
                <a href="#"><p>SENTE</p></a>
              </div>
              <div class="container">
                <a href="#"><h3>Collection</h3></a>
                <a href="#"><p>Allure Award Winners</p></a>
                <a href="#"><p>Concious Beauty</p></a>
                <a href="#"><p>Dermatologist Approved</p></a>
                <a href="#"><p>Dermstore Exclusive</p></a>
                <a href="#"><p>Female-Founded Brands</p></a>
                <a href="#"><p>Save with auto replenishment</p></a>
                <a href="#"><p>Surf Londge x Dermstore Collection</p></a>
                <a href="#"><p>Wellness</p></a>
              </div>
             </div>
            </li>
            <li class="navbar_item"><a href="">Bestsellers</a></li>
            <li class="navbar_item"><a href="">Skin Care</a>
              <div class="mega_menu" id="t_SC">
                <div class="container">
                  <a href="#"><h3>Cleansers & Exfoliators</h3></a>
                  <a href="#"><p>Cleansers</p></a>
                  <a href="#"><p>Exfoliants</p></a>
                  <a href="#"><p>Toners</p></a>
                  <a href="#"><p>Face wash</p></a>
                  <a href="#"><p>Makeup remover</p></a>
                  <a href="#"><p>Men's cleanser</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Treatments And Serums</h3></a>
                  <a href="#"><p>Face Serums</p></a>
                  <a href="#"><p>Face Masks</p></a>
                  <a href="#"><p>Neck Cream</p></a>
                  <a href="#"><p>Wrinkle Cream</p></a>
                  <a href="#"><p>Acne Treatment</p></a>
                  <a href="#"><p>Dark spot corrector</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Moisturizers</h3></a>
                  <a href="#"><p>Face Moisturizers</p></a>
                  <a href="#"><p>Face Oils</p></a>
                  <a href="#"><p>Night Cream</p></a>
                  <a href="#"><p>Tinted Moisturizers</p></a>
                  <a href="#"><p>Essence</p></a>
                  <a href="#"><p>Men's Moisturizers & Treatment</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Eye Care</h3></a>
                  <a href="#"><p>Eye cream and Moisturizers</p></a>
                  <a href="#"><p>Eye Treatment and Serums</p></a>
                  <a href="#"><p>Eye Masks</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Lip Care</h3></a>
                  <a href="#"><p>Lip balms & treatments</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Face Sunscreen</h3></a>
                  <a href="#"><p>Face Sunscreen</p></a>
                  <a href="#"><p>Self tanners for face</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Professional Tools & Devices</h3></a>
                  <a href="#"><p>Cleansing Devices</p></a>
                  <a href="#"><p>Anti-Aging Tools & Devices</p></a>
                  <a href="#"><p>Microdermabrasion</p></a>
                  <a href="#"><p>Microneedling</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>More</h3></a>
                  <a href="#"><p>New Arrivals</p></a>
                  <a href="#"><p>Bestsellers</p></a>
                  <a href="#"><p>Kits & Sets</p></a>
                  <a href="#"><p>Top Rated</p></a>
                  <a href="#"><p>Travel Size</p></a>
                  <a href="#"><p>Sale</p></a>
                  <a href="#"><p>View All...</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Popular Brands</h3></a>
                  <a href="#"><p>skinCeutical</p></a>
                  <a href="#"><p>EltaMD</p></a>
                  <a href="#"><p>skinMedica</p></a>
                  <a href="#"><p>Obagi</p></a>
                  <a href="#"><p>iS Clinical</p></a>
                  <a href="#"><p>Revision Skincare</p></a>
                  <a href="#"><p>Sulwhasoo</p></a>
                </div>
              </div> 
            </li>
            <li class="navbar_item"><a href="">Makeup</a>
              <div class="mega_menu" id="t_Mup">
                <div class="container">
                  <a href="#"><h3>Face</h3></a>
                  <a href="#"><p>Foundation</p></a>
                  <a href="#"><p>BB & CC Creams</p></a>
                  <a href="#"><p>Concealer</p></a>
                  <a href="#"><p>Blush</p></a>
                  <a href="#"><p>Highlighters</p></a>
                  <a href="#"><p>Primer</p></a>
                  <a href="#"><p>Face Palettes</p></a>
                  <a href="#"><p>Setting spray & Powders</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Lips</h3></a>
                  <a href="#"><p>Lipstick</p></a>
                  <a href="#"><p>Liquid Lipstick</p></a>
                  <a href="#"><p>Lip gloss & Stains</p></a>
                  <a href="#"><p>Lip Balms & Treatments</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Eyes</h3></a>
                  <a href="#"><p>Eyeshadow</p></a>
                  <a href="#"><p>EyePalettes</p></a>
                  <a href="#"><p>Mascara</p></a>
                  <a href="#"><p>Eyeliner</p></a>
                  <a href="#"><p>Eyebrow Makeup</p></a>
                  <a href="#"><p>Lash & Brow Enhancer</p></a>
                  <a href="#"><p>Eye Primer</p></a>
                  <a href="#"><p>False Lashes</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>More</h3></a>
                  <a href="#"><p>Tools & Brushes</p></a>
                  <a href="#"><p>Makeup Meets Skin care</p></a>
                  <a href="#"><p>New Arrivals</p></a>
                  <a href="#"><p>Bestsellers</p></a>
                  <a href="#"><p>kits & Sets</p></a>
                  <a href="#"><p>Top Rated</p></a>
                  <a href="#"><p>Sale</p></a>
                  <a href="#"><p>View All...</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Popular Brands</h3></a>
                  <a href="#"><p>Cosmetics</p></a>
                  <a href="#"><p>jane iredale</p></a>
                  <a href="#"><p>Smashbox</p></a>
                  <a href="#"><p>ILIA</p></a>
                  <a href="#"><p>Tarte Cosmetics</p></a>
                  <a href="#"><p>Glo Skin Beauty</p></a>
                  <a href="#"><p>Kevyn Aucoin</p></a>
                  <a href="#"><p>BY TERRY</p></a>
                </div>
              </div>  
            </li>
            <li class="navbar_item"><a href="">Hair Care</a>
              <div class="mega_menu" id="t_HC">
                <div class="container">
                  <a href="#"><h3>Shop By Category</h3></a>
                  <a href="#"><p>Shampoo</p></a>
                  <a href="#"><p>Dry Shampoo</p></a>
                  <a href="#"><p>Conditioner</p></a>
                  <a href="#"><p>Hair Loss Products</p></a>
                  <a href="#"><p>Anti- Dandruff</p></a>
                  <a href="#"><p>Hair Treatments</p></a>
                  <a href="#"><p>Hair Masks</p></a>
                  <a href="#"><p>Styling Products</p></a>
                  <a href="#"><p>Tools & Brushes</p></a>
                  <a href="#"><p>Natural Hair care</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Shop By Hair Type</h3></a>
                  <a href="#"><p>Coarse</p></a>
                  <a href="#"><p>Frizzy</p></a>
                  <a href="#"><p>Color-Treated</p></a>
                  <a href="#"><p>Curly</p></a>
                  <a href="#"><p>Dry or Damaged</p></a>
                  <a href="#"><p>Fine</p></a>
                  <a href="#"><p>Oily</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>More</h3></a>
                  <a href="#"><p>New Arrivals</p></a>
                  <a href="#"><p>Bestsellers</p></a>
                  <a href="#"><p>Kits & Sets</p></a>
                  <a href="#"><p>Top rated</p></a>
                  <a href="#"><p>Travel Size</p></a>
                  <a href="#"><p>Men's Hair care</p></a>
                  <a href="#"><p>Sale</p></a>
                  <a href="#"><p>View All...</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Popular brand</h3></a>
                  <a href="#"><p>ghd</p></a>
                  <a href="#"><p>Oribe</p></a>
                  <a href="#"><p>Olaplex</p></a>
                  <a href="#"><p>Robin</p></a>
                  <a href="#"><p>Gorgeous</p></a>
                  <a href="#"><p>R-co</p></a>
                  <a href="#"><p>Briogeo</p></a>
                  <a href="#"><p>VIRTUE</p></a>
                  <a href="#"><p>Living proof</p></a>
                  <a href="#"><p>Miriam quevedo</p></a>
                  <a href="#"><p>Harry Josh Pro Tools</p></a>
                </div>
              </div> 
            </li>
            <li class="navbar_item"><a href="">Bath & Body</a>
              <div class="mega_menu" id="t_B_B">
                <div class="container">
                  <a href="#"><h3>Shop By Category</h3></a>
                  <a href="#"><p>Bath & Shower</p></a>
                  <a href="#"><p>Body Scrubs</p></a>
                  <a href="#"><p>Body care</p></a>
                  <a href="#"><p>Lotions</p></a>
                  <a href="#"><p>Body sun care</p></a>
                  <a href="#"><p>Fragrance</p></a>
                  <a href="#"><p>Hands & Feet</p></a>
                  <a href="#"><p>Supplements</p></a>
                  <a href="#"><p>Baby & Mom</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Shop By Concern</h3></a>
                  <a href="#"><p>Cellulite</p></a>
                  <a href="#"><p>Eczema</p></a>
                  <a href="#"><p>Razor Bumps</p></a>
                  <a href="#"><p>Streth Marks</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Personal Care</h3></a>
                  <a href="#"><p>Deodrant</p></a>
                  <a href="#"><p>Hair Removal</p></a>
                  <a href="#"><p>Oral Care</p></a>
                  <a href="#"><p>Men's Shaving and Grooming</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>More</h3></a>
                  <a href="#"><p>New Arrivals</p></a>
                  <a href="#"><p>Bestsellers</p></a>
                  <a href="#"><p>Kits & Sets</p></a>
                  <a href="#"><p>Men's Body care</p></a>
                  <a href="#"><p>Top rated</p></a>
                  <a href="#"><p>Sale</p></a>
                  <a href="#"><p>View All</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Popular Brands</h3></a>
                  <a href="#"><p>EltaMD</p></a>
                  <a href="#"><p>AMELIORATE</p></a>
                  <a href="#"><p>Supergoop!</p></a>
                  <a href="#"><p>SkinCeuticals</p></a>
                  <a href="#"><p>ESPA</p></a>
                </div>
              </div> 
            </li>
            <li class="navbar_item"><a href="">Tools & Devices</a>
             <div class="mega_menu" id="t_T_D">
              <div class="container">
                <a href="#"><h3>Skin Care Tools</h3></a>
              </div>
              <div class="container">
                <a href="#"><h3>Hair Care Tools</h3></a>
              </div>
              <div class="container">
                <a href="#"><h3>Makeup Tools</h3></a>
              </div>
             </div>
            </li>
            <li class="navbar_item"><a href="">Gifts & Sets</a>
              <div class="mega_menu" id="t_G_S">
                <div class="container">
                  <a href="#"><h3>All Gifts & Sets</h3></a>
                  <a href="#"><p>Skin Care Kits & Sets</p></a>
                  <a href="#"><p>Makeup Kits & Sets</p></a>
                  <a href="#"><p>Hair Kits & Sets</p></a>
                  <a href="#"><p>Bath & Body Kits & Sets</p></a>
                  <a href="#"><p>Men's Kits & Sets</p></a>
                  <a href="#"><p>BeautiFIX</p></a>
                  <a href="#"><p>Best Of Dermstore</p></a>
                </div>
               </div>
            </li>
            <li class="navbar_item"><a href="">BeautyFIX</a></li>
            <li class="navbar_item"> <a href="">Offers</a>
              <div class="mega_menu" id="t_offer">
                <div class="container">
                  <a href="#"><h3>Sale</h3></a>
                  <a href="#"><p>Skin care sale</p></a>
                  <a href="#"><p>Makeup sale</p></a>
                  <a href="#"><p>Hair care sale</p></a>
                  <a href="#"><p>Bath & Body sale</p></a>
                  <a href="#"><p>Tools and devices sale</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Shop By% Off</h3></a>
                  <a href="#"><p>Save 10%</p></a>
                  <a href="#"><p>Save 15%</p></a>
                  <a href="#"><p>Save 20%</p></a>
                  <a href="#"><p>Save 25%</p></a>
                  <a href="#"><p>Save 30%</p></a>
                  <a href="#"><p>Save 40%</p></a>
                </div>
                <div class="container">
                  <a href="#"><h3>Other Offers</h3></a>
                  <a href="#"><p>Free Gift</p></a>
                  <a href="#"><p>Save With Auto- Replenishment</p></a>
                  <a href="#"><p>Refer a Friend, Get $15</p></a>
                  <a href="#"><p>Value Sets</p></a>
                </div>
               </div>
            </li>
            <li class="navbar_item"><a href="">New</a>
              <div class="mega_menu" id="t_new">
                <div class="container">
                  <a href="#"><h3>All New Arrivals</h3></a>
                  <a href="#"><p>New Skincare</p></a>
                  <a href="#"><p>New Haircare</p></a>
                  <a href="#"><p>New Makeup</p></a>
                  <a href="#"><p>New Bath & Body</p></a>
                  <a href="#"><p>New Men's Product</p></a>
                  <a href="#"><p>New Gifts & Sets</p></a>
                </div>
               </div>
            </li>
            <li class="navbar_item"><a href="">Skin101</a>
              <div class="mega_menu" id="t_skin">
                <div class="container">
                  <a href=""><img src="https://s1.thcdn.com/navigation/208/2021/05/original-blog-1-20210523-20210525.jpg" alt="Error"></a>
                  <a href="#"><h3>Answers to your skin care questions</h3></a>
                </div>
                <div class="container">
                  <a href=""><img src="https://s1.thcdn.com/navigation/208/2021/05/original-blog-2-20210523-20210525.jpg" alt="Error"></a>
                  <a href="#"><h3>Become a skin expert</h3></a>
                </div>
                <div class="container">
                  <a href=""><img src="https://s1.thcdn.com/navigation/208/2021/05/original-blog-3-20210523-20210525.jpg" alt="Error"></a>
                  <a href="#"><h3>How-tos & more</h3></a>
                </div>
               </div>
            </li>
          </li>      
      </ul>
    </nav>
  </body>
</html>
<script></script>
